  
@import "tailwindcss";
/* ===== Featured Property Slider ===== */

.slider-container {
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  width: max-content;
  animation: scroll-left 20s linear infinite;
}

.slider-container:hover .slider-track {
  animation-play-state: paused;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
